server {
    listen 80;
    server_name .*;
    location / {
      return 301 https://$host$request_uri;
    }
{% if ssl_strategy == 'certbot' %}
    location /.well-known {
      root /var/www;
      access_log off;
      error_log off;
    }
{% endif %}
}
