[Unit]
Description=SVAIR Mock
After=network-online.target

[Service]
Type=simple

User={{ app_user }}
Group={{ app_user }}

EnvironmentFile=/etc/svair-mock/svair-mock.conf
ExecStart=/usr/bin/node /opt/apps/svair-mock/current/bin/www

Restart=on-failure
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target

