_format_version: "1.1"

services:
  - name: website
    url: https://betagouv.github.io/api-particulier-web/
    routes:
      - name: home
        paths:
          - /
  - name: api-particulier
    url: https://{{ groups.apps[0] }}:4443/api
    routes:
      - name: api
        paths:
          - /api
    plugins:
{% if ip_restriction is defined %}
      - name: ip-restriction
        config:
          whitelist:
{% for ip in ip_restriction.whitelist %}
            - {{ ip }}
{% endfor %}
{% endif %}
      - name: customAuth
        config:
          authorize_host: localhost:7000
          authorize_path: /api/auth/authorize
          skipped_paths:
            - /api/ping
            - /api/impots/ping
            - /api/caf/ping
            - /api/etudiant/ping
  - name: introspect
    url: http://localhost:7000/api/auth/authorize
    plugins:
{% if ip_restriction is defined %}
      - name: ip-restriction
        config:
          whitelist:
{% for ip in ip_restriction.whitelist %}
            - {{ ip }}
{% endfor %}
{% endif %}
      - name: response-transformer
        config:
          remove:
            json:
              - _id
    routes:
      - name: introspect
        paths:
          - /api/introspect
  - name: admin
    url: http://localhost:7000/admin
    plugins:
{% if ip_restriction is defined %}
      - name: ip-restriction
        config:
          whitelist:
{% for ip in ip_restriction.whitelist %}
            - {{ ip }}
{% endfor %}
{% endif %}
    routes:
      - name: admin
        paths:
          - /admin

plugins:
  - name: rate-limiting
    config:
      policy: local
      second: 20
  - name: cors
    config:
      origins:
        - "*"
      methods:
        - GET
      headers:
        - Accept
        - Content-Length
        - Content-Type
        - X-API-Key
        - X-User
      exposed_headers:
        - X-API-Key
      credentials: true
      max_age: 3600
