[Unit]
Description=API Particulier Open API
After=network-online.target

[Service]
Type=simple

User={{ app_user }}
Group={{ app_user }}

ExecStart=/usr/bin/kong-dashboard start -p {{ kong_dashboard_port }} -u http://localhost:8001

Restart=on-failure
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target

