{
  "name": "development",
  "values": [
    {
      "enabled": true,
      "key": "host",
      "value": "https://particulier-development.api.gouv.fr",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "api_key",
      "value": "{{ api_particulier_fs_api_key }}",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "numeroAllocataire",
      "value": "0000354",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "codePostal",
      "value": "99148",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "referenceAvis",
      "value": "1512456789521",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "numeroFiscal",
      "value": "1562456789521",
      "type": "text"
    }
  ],
  "timestamp": 1527783432494,
  "_postman_variable_scope": "environment",
  "_postman_exported_at": "2018-06-01T11:48:58.068Z",
  "_postman_exported_using": "Postman/5.5.2"
}
