import { getDatabaseConnection } from '../providers/database';

(async () => {
    const devToken = {
        name: 'MAIRIE DE PARIS - 100',
        email: 'mairie-de-paris@yopmail.com',
        scopes: [
            'dgfip_avis_imposition',
            'cnaf_attestation_droits',
            'mesri_statut_etudiant'
        ],
        signup_id: '100',
        hashed_token: '{{ api_particulier_fs_api_key_hashed }}',
        api_key_issued_at: '{{ ansible_date_time.iso8601 }}'
    }
    const mongodbConnection = await getDatabaseConnection();
    const tokens = mongodbConnection.collection('tokens');

    await tokens.update(
        {
            name: devToken.name
        },
        devToken,
        {
            upsert: true
        }
    );

    process.exit(0)
})()
