<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Particulier - Token manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bare-css@2.0.3/css/bare.min.css">
</head>
<body>

<nav>
    <!-- this label allows the checkbox to be activated by clicking anywhere in the nav -->
    <label>
        <!-- checkbox required for responsiven menu -->
        <input type="checkbox">

        <!-- bareCSS will use the header to contain the hamburger menu -->
        <header>
            <a href="/admin">API Particulier - Token manager</a>
        </header>

        <!-- the main navigation items are anchor links within an unordered list -->
        <ul>
            <li><a href="/admin">Home</a></li>
        </ul>
    </label>
</nav>

{{{body}}}

</body>
</html>
